{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card p-4 shadow">
            <h3 class="text-center">Validar Código</h3>
            <p class="text-muted text-center">Introduza o código enviado para o seu e-mail.</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary w-100 rounded-pill">Verificar Código</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}