{% extends "base.html" %}
{% block content %}
<h2>Verifique seu E-mail</h2>
<p>Enviamos um código de 6 dígitos para o seu e-mail.</p>

<form method="POST">
    {% csrf_token %}
    <label>Digite o código de 6 dígitos enviado para seu e-mail:</label>
    <input type="text" name="code" maxlength="6" required>
    <button type="submit">Verificar</button>
</form>

{% if messages %}
    {% for message in messages %}
        <p style="color: red; font-weight: bold; margin-top: 10px;">{{ message }}</p>
    {% endfor %}
{% endif %}

{% endblock %}