{% extends "base.html" %}
{% load leaflet_tags %}

{% block title %}Map{% endblock %}

{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<style>
    #map {
        width: 100%;
        height: 600px;
    }
</style>

<h2>REEE</h2>
{% leaflet_map "map" callback="window.initMap" %}

<script>
    function initMap(map, options) {

        var pontos = {{ pontos_geojson|safe }};

        var geojsonLayer = L.geoJSON(pontos, {
            onEachFeature: function (feature, layer) {
                var props = feature.properties;
                // ?? Nullish coalescing operator para os desavizados, não é ternário
                // Localidade: por mais que seja lisboa, para expansções que duvido q tenha, é melhor ter um fallback
                var popup = `
                    <b>${props.descricao ?? "Ponto de Recolha"}</b><br>
                    ${props.morada ?? "Morada não especificada"}<br>
                    ${props.localidade ?? "Localidade não especificada"}<br>
                `;
                layer.bindPopup(popup);
            }
        });

        geojsonLayer.addTo(map);
    }
</script>
{% endblock %}